## client config file
keydir = ./
default_section = default

[default]
use_token = 0
encrypt = default_encrypt
decrypt = default_decrypt
sign = default_sign
verify = default_verify
encrypt_type=cms#eccp2
dectype_type=cms #eccp2

[default_encrypt]
ciphers = lea192
certificate = $(keydir)/server.pem
cacert = $(keydir)/ca.pem


[default_decrypt]
certificate = $(keydir)/server.pem
key = $(keydir)/server.key
