## client config file
token_home=/home/julian/Dev/gzpki/test/TK
keydir = ./test
default_section = default


[token_default]
use_token = 1
section = client_token

[default]
use_token = 0
token_section = new_token
encrypt = default_encrypt
decrypt = default_decrypt
sign = default_sign
verify = default_verify
encrypt_type=cms#eccp2
dectype_type=cms #eccp2

[new_token]
token_dir = $(token_home)/token/gzcms
ciphers = lea192
digest = sha256

[client_token]
token_dir = $(token_home)/client_token/gzcms
#token_dir = $(token_home)
ciphers = lea192
digest = sha256

[server_token]
token_dir = $(token_home)/server_token/gzcms


[default_encrypt]
ciphers = lea256
certificate = $(keydir)/server.pem
cacert = $(keydir)/ca.pem
##ECP(K) : 별도로 지정하지 않아도 인증서 파일명 + ".eck" 파일을 찾는다. 
##ecpoint.k = $(keydir)/secret.eck

[default_decrypt]
certificate = $(keydir)/server.pem
key = $(keydir)/server.key
ecpoint.x = $(keydir)/secret.x1
ecpoint.y = $(keydir)/secret.y1

[token_sign]
digest = sha512
key = $(token_home)/token/gzcms/cert/device/device.key
certificate = $(token_home)/token/gzcms/cert/device/device.pem
cacert = $(token_home)/token/gzcms/cert/ca/ca.key

[token_sign]
cacert = $(token_home)/token/gzcms/cert/ca/ca.key

[default_sign]
digest = sha512
key = $(keydir)/server.key
certificate = $(keydir)/server.pem
cacert = $(keydir)/ca.pem

[default_verify]
cacert = $(keydir)/ca.pem
show_text = 0


#[keypass]
#database = ./keypass.db




