## client config file
token_home=/home/julian/Dev/gzpki/test/TK
keydir = ./keys

default_section = default

[default]
use_token = 0
encrypt = default_encrypt
encrypt = default_encrypt
sign = default_sign
verify = default_verify

[default2]
use_token = 2
encrypt = default_encrypt
encrypt = default_encrypt
sign = default_sign
verify = default_verify


[token]
use_token = 1
section = client_token


[client_token]
token_dir = $(token_home)/client_token

[server_token]
token_dir = $(token_home)/server_token

[default_encrypt]
ciphers = aes128
certificate = $(keydir)/server.pem
ca = $(keydir)/ca.pem
ecpoint.k = $(keydir)/k.ecp