## client config file
token_home=/home/julian/Dev/gzpki/test/TK
keydir = ./keys

[default]
use_token = 0
encrypt = default.encrypt
encrypt = default.encrypt
sign = default.sign
verify = default.verify

[token.default]
use_token = 1
section = token_01


[token_01]
token_dir = $(token_home)/client_token

[token_02]
token_dir = $(token_home)/client_token_02

[keypass]
database = ./keypass.db

[default.encrypt]
ciphers = aes128
certificate = $(keys)/server.pem
ca = $(keys)/ca.pem
ecpoint.k = $(keys)/k.ecp

[default.decrypt]
certificate = ./server.pem
key = ./server.key
ecpoint.x = $(keys)/x.ecp
ecpoint.y = $(keys)/y.ecp

[default.sign]
digest = sha256
key = ./server.key
ca = ./ca.pem

[default.verify]
ca = ./ca.pem




