## client config file
token_home=./
keydir = ./testset/fake_server
default_section = default


[token_default]
use_token = 1
section = device_token

[default]
use_token = 0
encrypt = default_encrypt
decrypt = default_decrypt
encrypt_type=cms #eccp2
dectype_type=cms #eccp2


[device_token]
token_dir = $(token_home)/token/gzcms
ciphers = lea192
digest = sha256

[default_encrypt]
ciphers = aes128
certificate = $(keydir)/server.pem
cacert = $(keydir)/ca.pem


[default_decrypt]
certificate = $(keydir)/server.pem
key = $(keydir)/server.key


